body {
  background-color: #F9F9F9;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.card-img {
  width: 222px;
  height: 333px;
  position: relative;
  top: -40px;
  left: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.8);
}
.header {
  padding-top: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.card{
  width: 80%;
}
.card-body {
  position: absolute;
  right : 0px;
  top: 15px;
  max-width: 300px;
}

.card-author {
  margin-top: 5px;
}
.card-title {
  display: inline;
  font-weight: 700;
  color: rgb(124, 117, 117);
}
.text-muted {
  color: #a7a4a4;
  line-height: 1.5;
}

.card-btn {
  margin-top: 1rem;
}

.card{
  margin-bottom: 5rem;
  width: 600px;
  height: 350px;
  

}

.cross {
    border-style: solid;
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-bottom: 1px solid #ced4da;
    border-left: none;
    border-right: 1px solid #ced4da;
    border-top: 1px solid #ced4da;;
}
.search-input {
  border-right: none;
}
.search {
  border-right: none;
  width: 80%;
  padding-left: 20rem;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 700px) {
    .header{
      margin-left: 1rem;
    }


    .search-input{
      size: 100px;

      
    }

    .main-container {
      width: 100%;
      height: 100%;
    }
    .card {
      width: 350px;
      flex-direction: column-reverse;
    }
    .card-img {
      width:150px ;
      height: 300px;
      top: -100px;
      left: 20px;
    }

    .card-body {
      right : 0px;
      top: 10px;
      font-size: 6px;
      max-width: 180px;
      padding-right: 0;
    }

    .card-btn {
      font-size: small;
    }
    .btn-search {
      font-size: small;
      padding: 12px 5px 13px 5px;
      border-radius: 0;
    }
    .search{
      width: 90%;
      padding-left: 3rem;
    }
}